.navbar-container {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: rgb(226, 224, 224);
  display: flex;
  align-items: center;
  z-index: 1;
}

.navbar-container ul,
li {
  list-style: none;
}

.navbar-container .menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu .menu-item {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  height: 3rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.menu .menu-item a {
  color: #000000;
  text-decoration: none;
}

.menu .menu-item:hover,
.menu-item a:hover {
  cursor: pointer;
  color: rgba(95, 94, 94, 0.788);
}

.navbar-container .sidebar {
  display: none;
  position: absolute;
  top: 100%;
  left: 100%;
  background-color: white;
  padding: 10px;
  line-height: 1.5rem;
  border-width: 0px 0px 1px 1px;
  border-color: #000000;
  border-style: solid;
  transform: translate(0%, 0);
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar hr {
  margin: 1rem 0rem;
}

.sidebar.show {
  display: block;
  transform: translate(-100%, 0);
  pointer-events: auto;
  cursor: default;
}