*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

button {
  border: none;
  outline: none;
  background-color: inherit;
  border-radius: 5px;
  cursor: pointer;
}

.label {
    display: grid;
    gap: 6px;
    font-size: 14px;
    font-weight: 600;
    max-width: 50%;
}

input {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px 12px;
    font-size: 16px;
}